body {
    background-color: var(--nord0);
    color: var(--nord4);
}

svg {
    width: 100%;
    height: 100%;
}

.logo {
    fill: var(--nord6);
    max-width: 66%;
}

.hidden {
    display: none;
}

.center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
